@fortawesome:registry=https://npm.fontawesome.com/
@michaelschade:registry=https://npm.pkg.github.com/
always-auth=true
save-exact=true
strict-peer-dependencies=false
public-hoist-pattern[]=babel-preset-*
public-hoist-pattern[]=@babel/preset-*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=tailwindcss
